
*{
    margin: 0;
    padding: 0
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #d62828;
    border-radius: 10px;
}
